<md-card class="example-card" *ngFor="let p of pokemons">
  <md-card-header>
    <md-card-title>#{{p.id}}</md-card-title>
    <md-card-subtitle>{{p.name}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <img md-card-image [src]="p.imageUrl">
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent">LIKE</button>
  </md-card-actions>
</md-card>

<div class="loadmore-btn">
  <button md-raised-button (click)="loadMorePokemon()" *ngIf='!isLoading' color="primary">Load More</button>
</div>

<div *ngIf='isLoading'>
  Loading...
</div>
